.text1{
    font-size: 25px;
    color: #ffffff;
    font-family:arial,"Microsoft JhengHei","微軟正黑體",sans-serif;
}

.text2{
    font-size: 30px;
    color: #ffffff;
    font-family:arial,"Microsoft JhengHei","微軟正黑體",sans-serif;
}


.space1{
    height: 300px;
}

.space2{
    height: 150px;
}

.line{
    color: #ffffff;
    border-style:none none solid none ;
    margin:0;
    padding:0;
}

#menu{
height:50px;
margin-bottom: 50px;
}

#menu ul{
    list-style: none;
    display: inline;
    text-decoration: none;
    padding: 0px;
    margin-top: 0px;
    /* This is a single-line comment */
}

#menu ul li{
    display: inline;/* 去掉段落 */
} 

#menu ul li a{
    text-decoration: none;    
    color:#fff;
    margin-left: 20px;
    text-align:center;/* 垂直置中 */
    line-height: 50px;
    /* 選單設定 */
}

#menu img{
    vertical-align: text-bottom;
    width:150px; height:50px;
    float: right;
    margin-right: 10px;
}

#menu a:hover{
    color:#000;
    background: #d8d8d8;
    /* 滑鼠移至上方 */
}


#work div{
    text-align:center;
    padding-top: 40px;
    
}

#work img{
    text-align:right;
    width:400px; height:400px;
}

#workbuttom a{
    text-decoration: none;  
    color:#afafaf;
}
#end{
    text-decoration: none;    
    color:#fff;
    margin-left: 20px;
    text-align:center;/* 垂直置中 */
    line-height: 50px;
    /* 選單設定 */
}

#end h5 a{
    text-decoration: none;    
    color:#d5d5d5;
}
