.bigtxt{
    color: #fff;
    text-align:center;
}
.txtP{
    text-align:center;
}


video {
    margin: 0;
    height: 600px;
    width: auto;
}

#PortfolioCF img{
    width: 80%;
    height: auto;
    margin: 0;
}

#me_photo img{
    width: 30%;
    height: auto;
    margin: 0;
}

#Illsize img{
    height: 80%;
    width: auto;
}
.link{
    text-align:center;
}

.link a{
    text-decoration: none;    
    color:#d5d5d5;
}
.link a:hover{
    text-decoration: none;    
    color:#ff8989;
}

.space05{
    height:50px;
}

.space1{
    height:100px;
}
.space2{
    height:200px;
}
.space3{
    height:300px;
}
.space4{
    height:400px;
}
.space5{
    height:500px;
}